body{
    font-family: 'Open Sans', sans-serif;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 160px;
    
}
nav>h3{
    color: black;
    font-size: 45px;
    font-weight: 800;
}

.Orange{
    color: #FD6E0A;
}
nav>ul{
    display: flex ;
    align-items: center;
}
nav,li{
    list-style: none;
    margin-right: 51px
}
nav,a{
    text-decoration: none;
    color: #474747;
}
.OrangeButton{
    color: #FFF;
     background-color: #FD6E0A; 
     border: 0;
     font-size: 20px;
     font-weight: 700;
     border-radius: 5px;
     width: 200px;
     height: 64px;
     padding: 18px 35px 19px 36px;
}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 550px;
}
.banner{
    padding: 0px 30px 0px 160px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    
}
.banner-content{
    max-width:500px ;
}
.profile{
    width: 450px;
    
}
.banner3{
    margin: 20px 5px 20px 0px;
    width: 300;
    font-size: 18px;
    font-weight: 400px;
}
.banner1{
color:  #474747;
font-size: 25px;
font-weight: 550;
margin: opx;
}
.banner2{
    color:  #181818;
font-size: 40px;
font-weight: 700;
margin: 5px;
}
.about{
    padding: 131px 157px 131px 157px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px ;

}
.section-title{
    color: var(--Dark-01, #181818);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.section-des{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
main{
    max-width: 1140px;
   margin: 0px auto;
}
.info{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}
.about-list{
    color: var(--Dark-03, #757575);
     font-size: 20px;
     font-weight: 400; 
}
.about-details{
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-weight: 700;
}